<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ly.reservesp.dao.FoodInformationMapper">

    <select id="findFoodInfo" resultType="FoodInformation" parameterType="FoodInformation">

        SELECT * FROM FoodInformation
        INNER JOIN SellingTime ON
        SellingTime.sellingTimeId = FoodInformation.sellingTimeId
        INNER JOIN foodType ON
         foodType.foodTypeId = FoodInformation.foodTypeId
         <where>
             <if test= "foodInfoId!= ''  and foodInfoId !=0">

                and foodInfoId = #{foodInfoId}
             </if>
             <if test="foodInfoName != '' and  foodInfoName!=null ">

                and foodInfoName like concat('%',#{foodInfoName},'%')

             </if>
             <if test=" price != '' and price !=0 ">

                and price = #{price}

             </if>
             <if test="foodType != null  ">

                    and foodType.foodTypeId = #{foodType.foodTypeId}

             </if>
             <if test=" sellingTime != null">

                    and sellingTime.sellingTimeId = #{sellingTime.sellingTimeId}

             </if>
             <if test="foodStatus !=''">

                    and foodStatus = #{foodStatus}

             </if>

         </where>


    </select>


</mapper>
