<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ly.reservesp.dao.FoodPictureMapper">

    <select id="FoodPictureList" parameterType="FoodPicture" resultType="FoodPicture">

    SELECT * FROM FoodPicture INNER JOIN  FoodInformation ON FoodPicture.foodInfoId = FoodInformation.foodInfoId
    <where>

        <if test="foodInfo != null">

            and FoodInformation.foodInfoId = #{foodInfo.foodInfoId}

        </if>
    </where>

    </select>

</mapper>
