<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ly.reservesp.dao.sellingTimeMapper">

    <select id="findSellingTime" resultType="sellingTime" parameterType="sellingTime">
        select  * from sellingTime
        <where>
            <if test=" sellingTimeId != 0 ">
                and  sellingTimeId = #{sellingTimeId}
            </if>
            <if test="  sellingTimeName != '' and sellingTimeName != null ">
                and sellingTimeName like concat('%',#{sellingTimeName},'%')
            </if>
        </where>
    </select>

</mapper>
